h1 {
  text-align: center;
  color: white;
}

/* body {
  background-color: black;
} */

#game {
  /* background: url("./../images/motherboard.png"); */
  width: 600px;
  height: 800px;
  display:block;
  margin:auto;
  border: 1px solid black;
}

#butterfly img{
  width: 15%;
  height: 15%;
}

#ant img{
  width: 15%;
  height: 15%;
}

#cockroach img{
  width: 15%;
  height: 15%;
}
